<!DOCTYPE html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="static/theme.css">
      </head>
    <body>
      <h1>Select a Custom Experience</h1>
      <p>Welcome to Select a Custom Experience!</p>
      <p>Please select the type of experience you'd like to play through: </p>
      <a href="/horror"><button>Horror</button></a>
      <a href="/comedy"><button>Comedy</button></a>
      <a href="/action"><button>Action</button></a>
      <a href="/heroic"><button>Heroic</button></a>
      <a href="/sci-fi"><button>Sci-Fi</button></a>
    </body>
