<!DOCTYPE html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="static/theme.css">
      </head>
    <body>
      <h1>Dayan's Tool Chest</h1>
      <div>
        <p class='intro'>Make a Ticket</p>
        <a href=/ticketMaker>Ticket Maker</a><br>
      </div>
      <div>
        <p class='intro'>Grab some Tidels</p>
        <a href=/tidelClaimer>Tidel Claimer</a><br>
      </div>
      <div>
        <p class='intro'>Put some Tidels back in triage</p>
        <a href=/tidelUnClaimer>Tidel UnClaimer</a><br>
      </div>
      <div>
        <p class='intro'>What parts go in this safe?</p>
        <a href=/partsCalc>Tidel Part Calculator</a><br>'
      </div>
    </body>
