<!DOCTYPE html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="static/theme.css">
    </head>


    <body>
          <h1>Dayan's Ticket Generator</h1>
          <h3>Mostly for generics, but also capable of creating a more specific ticket.</h3>
          <h5>(A work in progress)</h5>
              <form  action="{{ url_for('notes') }}" method="post">
                  <div>
                    <label for="customerName">What line did this ring on?</label>
                    <input type="text" name="customerName" value=""><br> <br>
                  </div>
                  <div>
                    <label for="terminalID">Is the TID available?</label>
                    <input type="text" name="terminalID" value=""><br> <br>
                  </div>
                  <div>
                    <label for="serial">Is a safe Serial available?</label>
                    <input type="text" name="serial" value=""><br> <br>
                  </div>
                  <div>
                    <label for="caller">Caller Name</label>
                    <input type="text" name="caller" value=""><br> <br>
                  </div>
                  <div>
                    <label for="phoneNumber">Callback Number</label>
                    <input type="text" name="phoneNumber" value=""><br> <br>
                  </div>
                  <div>
                    <label for="address">Street Address</label>
                    <input type="text" name="address" value=""><br> <br>
                  </div>
                  <div>
                    <label for="ZpCode">Zip Code</label>
                    <input type="text" name="ZpCode" value=""><br> <br>
                  </div>
                  <div>
                    <label for="message">What did you do, or what needs to be done?</label><br>
                    <textarea name="message" rows="10" cols="60">   </textarea><br>
                    <br> <br>
                  </div>
                  <div>
                    <button type="submit" value="">Create Ticket</button>
                  </div>
              </form>
    </body>
