<!DOCTYPE html>
    <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="static/theme.css">
      <title>Submitted to Notes</title>
    </head>
      <body>
        <h1>Results</h1>
            <div>
              <label for="notes">This is what you've recorded in notes</label>
            </div>

            <div name = 'notes'>
              <div>
              <label for="customerName">Line of Business</label>
              <p name='customerName'> {{ customerName }} </p>
            </div>
            <div>
              <label for='TID'>Terminal ID </label>
              <p name='TID'> {{ terminalID }} </p>
            </div>
            <div>
              <label for='Serial'>Serial Number </label>
              <p name='Serial'>{{ serial }} </p>
            </div>
            <div>
              <label for='caller'>Caller's Name </label>
              <p name='caller'> {{ caller }} </p>
            </div>
            <div>
              <label for='phoneNumber'>Callback Number  </label>
              <p name='phoneNumber'>{{ phoneNumber }} </p>
            </div>
            <div>
              <label for='address'>Street address </label>
              <p name='address'>{{ address }} </p>
            </div>
            <div>
              <label for='zip'>ZIP code  </label>
              <p name='ZpCode'>{{ ZpCode }} </p>
            </div>
            <div>
              <label for='message'>Call Notes </label>
              <p name='message'>{{ callNotes }}</p>
            </div>
          </div>
      </body>
