
body {
	background-image: url('the-colors-of-blur.jpg');
	background-repeat:no-repeat;
  background-size: fill;
	font-family: 'Aclonica', sans-serif;
	text-shadow: 1px 1px 5px white, -1px -1px 5px white;
	text-align: center;
	}

	h1 {
	background-image: url('Background.jpg');
	font-family: 'Aclonica', sans-serif;
	background-repeat:no-repeat;
  background-size:100%;
	font-size: 24px;
	margin:  5px;
	padding: 20px;
	outline-width: 5px;
	outline-style: double;
	outline-color: Black;
	text-align: center;
	text-shadow:1px 1px 5px white, -1px -1px 5px white, 9px 9px 10px Red, -9px -9px 10px Red,11px 11px 10px Orange,
	-11px -11px 10px Orange, 13px 13px 10px Yellow, -13px -13px 10px Yellow,
	15px 15px 10px Green, -15px -15px 10px Green, 17px 17px 10px Blue,
	-17px -17px 10px Blue, 19px 19px 10px Indigo, -19px -19px 10px Indigo,
	21px 21px 10px Violet, -21px -21px 10px Violet;
	}

h3  {
	background-color: #99ccff;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	width: 55%;
	}

h5  {
	background-color:#ebcb7a;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	width: 15%;
}

.intro {
	width: 550px;
	align: center;
	background-color: Cyan;
	text-align: center;
	border-radius: 100%;
	}

.notes {
			background-color: none;
			background-radius: 100%;
		}

label {
	color: #ffff00;
	background-color: #99ccff;
	background-size: 100%;
	text-shadow: 8px 8px 8px 8px white;
	color: Navy;
	font-size: 16px;
	border-radius: 100%;
	display:block;
	width: 75%;
	float: left;
	}

label:after { content: ": " }

div {
	color: Green;
	float:  left;
	clear: left;
	text-align: center;
	border-radius: 100%;
	background-color: Navy;
	font-size: 14px;
	text-shadow: 1px 1px 5px white, -1px -1px 5px white;
	height: 40%;
	color: Black;
	}



input {
	background-color: #ebcb7a ;
	color: Black;
	text-align: center;
	float: right;
	font-size: 18px;
	border-radius: 100%;
	width: 85%;
	}

	message {
		 background-color: "Cyan"
	}

.notes{
	background-color: red
}

button  {
  font-size: 24px;
	line-height: 26.4px;
	color: Yellow;
	font-family: 'Aclonica', sans-serif;
	text-shadow: 1px 1px 5px white, -1px -1px 5px white;
	float: right;
	clear: left;
	background-color: Black;
	border-radius: 100%;
	height: 85%;
	width: 58%;
  }

a {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: Yellow;
	float: right;
	clear: left;
	margin-left: 20;
	background-color: black;
	border-radius: 100%;
	height: 85%;
	width: 48%;
  }


/*Merienda
Palatino Linotype
Dekko
Allerta Stencil
Aclonica*/
