<!DOCTYPE html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="static/theme.css">
      </head>
    <body font=Aclonica>
      <h1>Dayan's Tool Chest</h1>
      <p class='spacer'><br><br><br></p>
      <div>
        <p class='intro'>Make a Ticket</p>
        <a href=/ticketMaker><button type="button">Ticket Maker</button></a><br>
      </div>
      <p class='spacer'><br><br><br></p>
            <div>
        <p class='intro'>Grab some Tidels</p>
        <a href=/tidelClaimer><button type="button">Tidel Claimer</button></a><br>
        <p class='spacer'><br><br><br></p>
      </div>
            <div>
        <p class='intro'>Put some Tidels back in triage</p>
        <a href=/tidelUnClaimer><button type="button">Tidel UnClaimer</button></a><br>
        <p class='spacer'><br><br><br></p>
      </div>
      <div>
        <p class='intro'>What parts go in this safe?</p>
        <a href=/partsCalc><button type="button">Tidel Part Calculator</button></a><br>
        <p class='spacer'><br><br><br></p>
      </div>
    </body>
