
body {
	background-image: url('');
	background-color: #022359;
	background-repeat:no-repeat;
  background-size: fill;
	font-family: 'Aclonica', sans-serif;
	text-shadow: 1px 1px 5px white, -1px -1px 5px white;
	text-align: center;
	}

	h1 {
	background-image: url('Background.jpg');
	font-family: 'Aclonica', sans-serif;
	background-repeat:no-repeat;
  background-size:100%;
	font-size: 24px;
	margin:  5px;
	padding: 20px;
	outline-width: 5px;
	outline-style: double;
	outline-color: Black;
	text-align: center;
	text-shadow:1px 1px 5px white, -1px -1px 5px white, 9px 9px 10px Red, -9px -9px 10px Red,11px 11px 10px Orange,
	-11px -11px 10px Orange, 13px 13px 10px Yellow, -13px -13px 10px Yellow,
	15px 15px 10px Green, -15px -15px 10px Green, 17px 17px 10px Blue,
	-17px -17px 10px Blue, 19px 19px 10px Indigo, -19px -19px 10px Indigo,
	21px 21px 10px Violet, -21px -21px 10px Violet;
	}

h3  {
	background-color: Cyan;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	width: 55%;
	}

h5  {
	background-color:#ebcb7a;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	width: 15%;
}

.intro {
	width:275px;
	height:65px;
	font-size: 25px;
	margin: auto;
	background-color: Cyan;
	text-align: center;
	border-radius: 80%;
	}

.notes {
			background-color: none;
			background-radius: 100%;
		}

.result{
	color: #ffff00;
	background-color: Cyan;
	background-size: 100%;
	text-shadow: 8px 8px 8px 8px white;
	color: Black;
	font-size: 16px;
	border-radius: 0%;
	display:block;
	width: 100%;
	float: left;
}

label {
	color: #ffff00;
	background-color: Cyan;
	background-size: 100%;
	text-shadow: 8px 8px 8px 8px white;
	color: Black;
	font-size: 16px;
	border-radius: 0%;
	display:block;
	width: 300px;
	float: left;
	}

label:after { content: ": " }

div {
	color: Green;
	margin: auto;

	text-align: center;
	border-radius: 20%;
	background-color: none;
	font-size: 24px;
	text-shadow: 1px 1px 15px white, -1px -1px 15px white;
	height: 40%;
	color: Black;
	}

.spacer {

	background-image: url('band2.jpg');
	height: 25px;
	box-shadow: 1px 1px 5px #888888, -1px -1px 5px #888888;

}



input {
	background-color: #ebcb7a ;
	color: Black;
	text-align: center;
	float: right;
	font-size: 18px;
	border-radius: 100%;
	width: 85%;
	}

	textarea {
		background-color: #ebcb7a ;
		border-radius: 5%;
		font-size: 18px;
		color: black;
		text-shadow: 1px 1px 5px white, -1px -1px 5px white;
	}

	message {
		 background-color: "Cyan"
	}

.notes{
	background-color: red
}

button  {
  font-size: 24px;
	line-height: 26.4px;
	color: Yellow;
	font-family: 'Aclonica', sans-serif;
	text-shadow: 1px 1px 5px white, -1px -1px 5px white;
	float: right;
	clear: left;
	background-color: Black;
	border-radius: 100%;
	height: 85%;
	width: 58%;
  }

/*a {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: Yellow;
	margin-left: auto;
	background-color: black;
	border-radius: 100%;
	height: 85%;
	width: 48%;
  }8
	*/


/*Merienda
Palatino Linotype
Dekko
Allerta Stencil
Aclonica*/
